.se{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: rgb(67, 67, 67);
}

.se_wrap{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.se_form_wrap{
    width: 50%;
    border-radius: 20px;
    padding-top: 20px;
}

.se_form{
    padding: 50px;
}

.se_ul{
    gap: 30px;
}

.se_li h2{
    flex: 1;
}

.se_top{
    width: 90%;
}

.se_icons{
    display: flex;
    gap: 20px;
}

.se_icon{
    font-size: 30px;
    cursor: pointer;

    &:first-child{
        color: white;
    }
    &:last-child{
        color: #db0000;
    }
}


.se_form_wrap2{
    width: 60%;
    height: 80vh;
    align-self: center;
    background-color: rgb(50, 49, 49);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 110px;
    margin: 0 auto;
    left: 0;
    right: 0;
    gap: 40px;
    font-size: 24px;
    transition: 0.3s ease-in;
}

.se_form_wrap3{
    width: 40%;
    height: 35vh;
    align-self: center;
    background-color: rgb(50, 49, 49);
    color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    position: fixed;
    top: 300px;
    margin: 0 auto;
    left: 0;
    right: 0;
    gap: 20px;

}

.se_form_wrap3_span{
    font-size: 20px;
    font-weight: bold;
}

.se_form_wrap2 span{
    position: absolute;
    top: 1px;
    right: 4px;
    padding: 5px;
    font-size: 18px;
    color: gray;
    cursor: pointer;
}

.se_form2{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.se_input2{
    padding: 10px;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: black;
}

.se_btn2{
    padding: 10px;
    font-size: 14px;
    outline: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
    transition: 0.3s ease-in-out;
    color: #db0000;
    font-weight: bold;
    font-size: 20px;
}

.se_btn2:hover{
    background-color: #db0000;
    color: white;
}

.se_btns{
    display: flex;
    gap: 30px;

}

.se_btn{
    padding: 10px;
    cursor: pointer;
    border: none;
    background-color: #db0000;
    color: white;
    border-radius: 20px;
    width: 60px;
    font-weight: bold;
}

::-ms-input-placeholder {
    color: red;
}